<app-section>
  <div class="sidebar-container">
    <img
      routerLink="/data-display"
      src="assets/icons/logo.svg"
      class="logo"
      routerLinkActive="active"
    />
    <button class="sidebar-icon-button primary">
      <app-icon>add</app-icon>
    </button>
    <button
      routerLink="/flow"
      class="sidebar-icon-button"
      routerLinkActive="active"
    >
      <app-icon>calendar_view_day</app-icon>
    </button>
    <button class="sidebar-icon-button">
      <app-icon>interests</app-icon>
    </button>
    <button class="sidebar-icon-button">
      <app-icon>group_work</app-icon>
    </button>
    <div class="fill"></div>
    <button class="sidebar-icon-button">
      <app-icon>settings</app-icon>
    </button>
  </div>
</app-section>
