<app-tiles
  [data]="{
    name: 'glebkiva',
    children: [
      {
        name: 'учёба',
        children: [
          {
            name: 'английский',
            value: 2
          },
          {
            name: 'языки программирования',
            value: 5,
          },
          {
            name: 'ДГВМ',
            value: 3
          },
          {
            name: 'ТФКП',
            value: 5
          }
        ]
      },
      {
        name: 'личное',
        children: [
          {
            name: 'попрыгать',
            value: 1
          }
        ]
      }
    ]
  }"
></app-tiles>
